@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.navbar-text-color{
  font-family: 'Fredoka One', sans-serif;
  color: #2A6C0B !important;
  }

.navbar-brand{
  font-family: 'Fredoka One', sans-serif;
  color:#2A6C0B !important;
  font-weight:bold;
}

.navbar-text-color:hover{
  box-shadow: inset 0 4px 0 0 rgb(4,125,60);
}

.navbar-text-color.n-hover:hover {
  box-shadow: none;
}

.btn-moesland {
  background-color:#3d861c;
  color: white;
}

.btn-moesland:hover{
  color: white;
  background-color: #64c03a;
}

.table-hover tbody tr:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.bg-moesland {
  background-color: #59be2a !important;
}

.custom-active-link {
  background-color: #3d861c !important;
  border-color: #4ba721 !important;
}

.custom-modal {
  background-color: #00000073;
  display: block;
}

.login-form{
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
}